<!-- <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">FunkyShop</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        @if(loggedIn()) {
          <li class="nav-item">
            <a class="nav-link" routerLink="/previous-orders">My Orders</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <form class="d-flex me-3">
          <input class="form-control me-2" type="search" placeholder="Search the funk..." aria-label="Search">
          <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
        </form>
        
        @if (!loggedIn()) {
        <a class="btn btn-secondary ms-3" routerLink="/login">Login</a>
        }
        @else {
          <a class="nav-link" routerLink="/cart">
            <i class="bi bi-cart-fill fs-4"></i>
          </a>
          <a class="btn btn-primary ms-3" (click)="logout()">Logout</a>
        }
      </div>
    </div>
  </div>
</nav>

@if (userRole() == "User") {
  <h1>User Logged In</h1>
}

@if (userRole() == "Seller") {
  <h1>Seller Logged In</h1>
} -->


@if(loggedIn() && userRole()=="User") {
  <app-user-heaader (logout)="logout()"></app-user-heaader>
}
@else if(loggedIn() && userRole()=="Seller") {
  <app-seller-header (logout)="logout()"></app-seller-header>
}
@else {
  <!-- <app-guest-header></app-guest-header> -->
   <div><h1>FunkyShop</h1></div>
   <ul>
    <li >
      <a [routerLink]="['login']">Login</a></li>
    <li >
      <a [routerLink]="['products']">Products</a>
    </li>
   </ul>
}