<div class="product-card-grid">
  <div class="product-image">
    <img [src]="product().productImage || 'https://via.placeholder.com/300x200'" alt="Product Image">
    <mat-checkbox *ngIf="selectable()" class="select-checkbox" [(ngModel)]="isSelected" (change)="notifySelection()"></mat-checkbox>
  </div>
  <div class="product-details">
    <h3>{{ product().productTitle }}</h3>
    <p class="product-description">{{ product().productDescription }}</p>
    <div class="product-info">
      <span class="price">
        <mat-icon>attach_money</mat-icon>
        {{ product().price }}
      </span>
      <span class="quantity">
        <mat-icon>inventory_2</mat-icon>
        {{ product().quantity }}
      </span>
      <span *ngIf="orderedQuantity() > 0" class="ordered">
        <mat-icon>shopping_cart</mat-icon>
        {{ orderedQuantity() }}
      </span>
    </div>
  </div>
  <div class="product-actions">
    <button mat-icon-button (click)="editProduct()" matTooltip="Edit">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="deleteProduct()" matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button *ngIf="orderedQuantity() > 0" (click)="checkProductOrders()" matTooltip="Check Orders">
      <mat-icon>visibility</mat-icon>
    </button>
  </div>
</div>
