<mat-toolbar color="primary">
  <span>Seller Dashboard</span>
  <span class="spacer"></span>
  <a mat-button [routerLink]="['/seller', 'dashboard']" routerLinkActive="active-link">Dashboard</a>
  <a mat-button [routerLink]="['/seller', 'orders']" routerLinkActive="active-link">Orders</a>
  <a mat-button [routerLink]="['/seller', 'products']" routerLinkActive="active-link">Products</a>
  <a mat-button [routerLink]="['/seller', 'add-product']" routerLinkActive="active-link">
    <mat-icon>add</mat-icon>
    Add Product</a>
  <button mat-icon-button (click)="onLogout()" aria-label="Logout">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>