.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background: var(--primary-color);
  color: white;
}

a[mat-button] {
  color: white;
  text-transform: uppercase;
  margin: 0 0.5rem;
}

a.active-link {
  background-color: rgba(255, 255, 255, 0.2);
}

mat-icon {
  color: white;
}